{% for scorekeeper in scorekeepers %}
<h2><a href="{{ url_for('get_scorekeeper_details',
                         scorekeeper=scorekeeper.slug) }}"
       title="Database ID: {{ scorekeeper.id }}">{{ scorekeeper.name }}</a></h2>

<div class="scorekeeper-block">
<div class="row">
    <div class="col s12 l6">
        <div class="label">Appearances</div>
        {{ scorekeeper.appearances.count.regular_shows }}
    </div>
    <div class="col s12 l6">
        <div class="label">Appearances including Best Of and Repeats</div>
        {{ scorekeeper.appearances.count.all_shows }}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="scorekeeper-appearance-list">
            <div class="label">List of Appearances</div>
            <ul class="scorekeeper-list">
            {% for appearance in scorekeeper.appearances.shows %}
                {% set show_date = date_string_to_date(appearance.date) %}
                <li>
                    <a href="{{ url_for('get_show_year_month_day',
                                        year=show_date.year,
                                        month=show_date.month,
                                        day=show_date.day) }}">
                    {{appearance.date}}</a>
                {% if appearance.score and appearance.score_exception %}
                    {{appearance.score }} *
                {% elif appearance.score and not appearance.score_exception %}
                    {{ appearance.score }}
                {% endif %}
                {% if appearance.best_of %}
                    <span class="scorekeeper-show-bestof">Best Of</span>
                {% endif %}
                {% if appearance.repeat_show %}
                    <span class="scorekeeper-show-repeat">Repeat</span>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
            
        </div>
    </div>
</div>
</div>
{% endfor %}