{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p>
    The Wait Wait... Don't Tell Me! Stats Page is collection of details
    and statistics for the weekly NPR news quiz show,
    &quot;<a href="//waitwait.npr.org">Wait Wait... Don't Tell Me!</a>&quot;
    This site contains data for each of the hosts, panelist, scorekeeper and
    Not My Job guest that has appeared on the show.
</p>

<p>
    For more information about the site's history, check out the
    &quot;<a href="{{ url_for('site_history') }}">Site History</a>&quot; page.
</p>

<p>
    This site and, by extension, its primary developer, Linh Pham, is not
    associated or affiliated with NPR, WBEZ/Chicago Public Radio or Urgent
    Haircut Production.
</p>

{% endblock %}