@media all {
    html, button, input, select, textarea { font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; font-size: initial; }
    main a { color: #3060c0;}
    pre, code { font-family: "IBM Plex Mono", "Consolas", "Monaco", monospace; }
    nav a.sidenav-trigger { display: initial; }
    nav .brand-logo { font-size: 1.5rem; }
    .sidenav ul#sidenav-show-years { margin-left: 1rem; }
    .sidenav li>a { font-size: initial; font-weight: initial; }
    .dropdown-content { border: 2px solid rgba(0, 0, 0, 0.1); }
    .dropdown-content li>a, .dropdown-content li>span { color: initial; }
    h1 { font-size: 1.5rem; font-weight: 600; margin: 1.5rem 0 1.5rem 0; }
    h2 { font-size: 1.25rem; font-weight: 600; margin: 1.25rem 0 1.25rem 0; }
    .container { max-width: initial; width: 95%; }
    ul.panelist-list, ul.guest-list { line-height: 1.75; list-style: none; margin: 0; padding: 0; }
    .guest-appearance-list>ul.guest-list { column-count: 2; column-fill: balance; line-height: 2.5; }
    div.guest-breadcrumb, div.show-breadcrumb { margin: 1rem 0; }
    div.label { border-bottom: 1px solid rgba(0, 0, 0, 0.25); font-weight: 600; }
    div.show-block, div.guest-block { border-left: 4px solid rgba(0, 0, 0, 0.25); margin: 1rem 0 2.25rem; }
    div.show-block a, div.guest-block a { border-bottom: 1px dotted; }
    div.show-block a::after, div.guest-block a::after { content: " \2192"; }
    .guest-show-bestof, .guest-show-repeat { font-weight: 500; padding: 0.2rem 0.5rem; margin: 0 0.25rem; }
    .guest-show-bestof { background-color: #bbdefb; }
    .guest-show-repeat { background-color: #ffe0b2; }
    .guest-show-repeat>a { border-bottom: none !important; }
    
    .show-description, .show-notes { white-space: pre-line; }
    .show-bestof, .show-repeat, .show-nprlink { font-weight: 500; padding: 0.25rem 1rem; margin-right: 0.5rem; }
    .show-bestof { background-color: #bbdefb; }
    .show-repeat { background-color: #ffe0b2; }
    .show-repeat>a { border-bottom: none !important; }
    .show-nprlink { background-color: #3366cc; color: white; }
    .show-nprlink>a { border-bottom: none !important; color: white; }
    .show-nprlink>a::after { content: " \2192"; }
    .data-tbd, .data-na, .data-multiple { font-style: italic; }
    footer { margin-top: 2rem; }
    footer a { border-bottom: 1px dotted; color: rgba(255,255,255,0.9); }
}

@media only screen and (max-width: 720px) {
    ul.guest-list { column-count: 1; column-fill: initial; }
    .guest-show-bestof, .guest-show-repeat { display: flexbox; }
}

@media only screen and (max-width: 600px) {
    nav .brand-logo { font-size: 1.0rem; font-weight: 500; left: 45%; transform: translateX(-40%); }
    .col.s12 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
    div.show-block { border-left: 2px solid rgba(0, 0, 0, 0.25); }
    div.row.show-badges { margin-bottom: 0; }
    ul.panelist-list, ul.guest-list { line-height: 2; }

    .show-bestof, .show-repeat, .show-nprlink { display: inline-flex; margin-bottom: 0.5rem; }
}

@media only print {
    html { margin: 1rem; }
    nav, div.sidenav, .show-nprlink { display: none; visibility: hidden; }
    div.label, div.show-block { border: none; }
    div.show-block { margin-left: 1.5rem; }
    div.row.show-badges { margin-bottom: 1rem; }
    .show-bestof, .show-repeat { background-color: initial; color: initial; padding: initial; }
    .show-bestof>a, .show-repeat>a { color: black; }
}
