{% extends "base.html" %}
{% block title %}{{ year_month.strftime("%B %Y") }} | Shows{% endblock %}

{% block content %}
<div class="page-breadcrumb">
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('get_shows') }}">Shows</a>
        </li>
        <li>
            <a href="{{ url_for('get_shows_year', year=year_month.year) }}">{{ year_month.year }}</a>
        </li>
        <li>
            {{ year_month.strftime("%B") }}
        </li>
    </ul>
</div>

<h1>Show Details: {{ year_month.strftime("%B %Y") }}</h1>

{% include "shows/details.html" %}
{% endblock %}
