{% extends "base.html" %}
{% block title %}Guests{% endblock %}

{% block content %}
<div class="page-breadcrumb">
    <ul>
        <li>
            <a href="{{ url_for('index') }}">Home</a>
        </li>
        <li>
            Guests
        </li>
</div>

<h1>Guests</h1>
<p>
    Choose from one of the Not My Job guests below to view their appearance
    details.
</p>

<ul class="collection">
    {% for guest in guests %}
    <li class="collection-item">
        <a href="{{ url_for('get_guest_details', guest=guest.slug) }}">{{ guest.name }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}